@import "src/styles/mixins";
@import "src/styles/vars";

.header {
  width: 100%;
  background-color: $bg-blue;
  color: $white;
  padding-top: 15px;

  @media (min-width: 950px) {
    padding-bottom: 95px;
  }

  &--contacts {
    background-color: $white;
  }

  &--product {
    background-color: $white;
    color: #0627b0;
  }

  &--404 {
    height: 100vh;
  }

  &--brand {
    padding-bottom: 0;
  }
}

.header__link {
  @include din-pro (18px, 27px, #0627b0);
  display: inline-block;
  margin-top: 30px;
}

.header__wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  &--menu {
    position: fixed;
    z-index: 20;
    width: 100%;
    padding: 15px 15px 30px 15px;
    top: -300px;
    left: 0;
    background-color: $white;
    color: #0627b0;
    border-radius: 0 0 20px 20px;
    transition: all 0.5s ease;

    @media (min-width: 950px) {
      min-height: inherit;
      max-height: 100%;
      top: auto;
      left: auto;
      position: relative;
      margin-bottom: auto;
      justify-content: space-between;
      color: $white;
      background-color: transparent;
    }
  }

  @media (min-width: 950px) {
    flex-direction: row;
  }

  &--opened{
    top: 0;
  }

  &--column {
    flex-direction: column;
    justify-content: space-between;
  }

  &--text{
    max-height: 280px;
    overflow: hidden;
    position: relative;

    &:after{
      content: '';
      top:0;
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, rgba(6,39,176,1) 0%, rgba(6,39,176,0) 10%, rgba(6,39,176,0) 60%, rgba(6,39,176,1) 100%);;
    }

    @media (min-width: 950px) {
      max-height: 430px;
    }
  }

  &--row {
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: 950px) {
      display: none;
    }
  }

  &--main {
    align-items: center;
  }

  &--index {

    @media (min-width: 950px) {
      height: 516px;
    }
  }
}

.header__logo--mobile {
  display: block;
  margin-bottom: 30px;

  // @media (min-width: 950px) {
  //   display: none;
  // }
}

.header__img {
  max-width: none;
  margin-right: 0;
  width: 167px;
  height: 261px;

  @media (min-width: 950px) {
    width: 316px;
    height: 512px;
    margin-right: 146px;
  }

  &--small {
    width: 173px;
    height: 39px;
    margin-right: 0;

    @media (min-width: 950px) {
      width: 247px;
      height: 56px;
      margin-right: 215px;
    }
  }
}

.header__text {
  margin-top: 16vw;
  // position: absolute;
  // bottom: 0;
  padding: 0;

  @include din-pro (42px, 44px, $white);
  text-transform: uppercase;

  @media (min-width: 950px) {
    margin-top: 260px;
    margin-bottom: 0;

    @include din-pro (54px, 54px, $white);
  }

  &:not(:first-child){
    @media (min-width: 950px) {
      margin-top: 250px;
    }
  }

  // &:nth-child(2){
  //   bottom: -50px;
  // }

  // &:nth-child(3){
  //   bottom: -110px;
  // }

  &--colored {
    color: #2789ff;
    position: relative;
    bottom: 0;
  }

  &--err {
    margin: 0;
  }
}

.header__hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 21;
  width: 40px;
  height: 45px;
  margin: 20px 16px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  @media (min-width: 950px) {
    display: none;
  }

  &-span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 10px;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 20px;
      transform-origin: left center;
    }
  }
  
  &--on{
    .header__hamburger-span{
      background: #0627B0;

      &:nth-child(1) {
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 25px;
        left: 8px;
      }
    }
  }

}

.header__error {
  margin-top: auto;
}
