@import "src/styles/mixins";
@import "src/styles/vars";

.header {
  width: 100%;
  background-color: $bg-blue;
  color: $white;
  padding-top: 15px;
  transform: none;

  @media (min-width: 950px) {
    padding-bottom: 120px;
  }

  &--full-height{
    height: 100vh;
    max-height: 100vh;
  }

  &--contacts {
    background-color: $white;
  }

  &--product {
    background-color: $white;
    color: #0627b0;
    padding-bottom: 0;
  }

  &--404 {
    height: 100vh;
  }

  &--brand {
    padding-bottom: 0;
  }
}

.header__link {
  display: inline-block;
  margin-top: 30px;

  font-family: "Pragmatica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #0627b0;

  &:hover {
    color: $hb;
  }

  &-span{
    font-family: "DINPro-noncond";
    font-size: 14px;
    vertical-align: text-bottom;
  }
}

.header__wrapper {
  display: flex;
  position: relative;
  z-index: 10;
  flex-grow: 1;
  flex-direction: column;

  &--menu {
    position: fixed;
    z-index: 20;
    width: 100%;
    padding: 15px 15px 30px 15px;
    top: -300px;
    left: 0;
    background-color: $white;
    color: #0627b0;
    border-radius: 0 0 20px 20px;
    transition: all 0.5s ease;

    @media (min-width: 950px) {
      min-height: inherit;
      max-height: 100%;
      top: auto;
      left: auto;
      position: relative;
      margin-bottom: auto;
      justify-content: space-between;
      color: $white;
      background-color: transparent;
    }
  }

  &-mobile{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    @media (min-width: 950px) {
      position: relative;
    }

    &--duplicate{
      display: block;
      @media (min-width: 950px) {
        display: none;
      }
    }

    &--opened{
      height: 100%;
    }
  }

  @media (min-width: 950px) {
    flex-direction: row;
  }

  &--opened{
    top: 0;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1);
  }

  &--column {
    flex-direction: column;
    justify-content: space-between;
  }

  &--text{
    max-height: 60vh;
    overflow: hidden;
    position: relative;

    &:after{
      content: '';
      top:0;
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, rgba(6,39,176,1) 0%, rgba(6,39,176,0) 5%, rgba(6,39,176,0) 70%, rgba(6,39,176,1) 100%);;
    }

    @media (min-width: 950px) {
      max-height: 80vh;
    }
  }

  &--row {
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: 950px) {
      display: none;
    }
  }
}
.header__logo {
  padding-bottom: 30px;

  @media (min-width: 950px) {
    padding-bottom: 0;
  }
}

.header__logo--mobile {
  display: block;
  margin-bottom: 30px;

  // @media (min-width: 950px) {
  //   display: none;
  // }
}

.header__img {
  max-width: none;
  margin-right: 0;
  width: 167px;
  height: 216px;

  @media (min-width: 950px) {
    width: 316px;
    height: 512px;
    margin-right: 146px;
  }

  &--menu {
    width: 173px;
    height: 39px;
  }

  &--small {
    width: 181px;
    height: 50px;
    margin-right: 0;

    @media (min-width: 950px) {
      width: 310px;
      height: 68px;
      margin-right: 215px;
    }

    &-brand{
      @media (min-width: 950px) {
        margin-right: 125px;
      }
    }
  }

  &--smallblue {
    height: 39px;

    @media (min-width: 950px) {
      height: 56px;
    }
  }
}

.header__texterror {
  margin: 0;
  padding: 0;

  @include din-pro (42px, 44px, $white);
  text-transform: uppercase;

  @media (min-width: 950px) {
    margin-bottom: 0;

    @include din-pro (54px, 54px, $white);
  }

}

.header__text {
  //margin-top: 16vw;
  margin-top: 20vh;
  // position: absolute;
  // bottom: 0;
  padding: 0;

  @include din-pro (42px, 44px, $white);
  text-transform: uppercase;

  @media (min-width: 950px) {
    margin-top: 325px;
    margin-bottom: 0;

    @include din-pro (54px, 54px, $white);
  }

  &:not(:first-child){
    margin-top: 33vh;
    @media (min-width: 950px) {
      margin-top: 33vh;
    }
  }

  &--err {
    @media (min-width: 950px) {
      margin-top: 0;
    }
  }

  // &:nth-child(2){
  //   bottom: -50px;
  // }

  // &:nth-child(3){
  //   bottom: -110px;
  // }

  &--colored {
    color: #2789ff;
    position: relative;
    bottom: 0;
  }
}

.header__hamburger {
  position: fixed;
  top: 8px;
  right: 8px;  
  z-index: 21;
  width: 60px;
  height: 60px;
  //margin: 20px 16px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  @media (min-width: 950px) {
    display: none;
  }

  &-wrapper{
    background-color: #0627b0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
  }

  &-span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &-wrapper{
      position: relative;
      width: 42px;
      height: 24px;
    }

    &--blue{
      background-color: #0627B0;
    }

    &:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 10px;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 20px;
      transform-origin: left center;
    }
  }

  &--on{
    .header__hamburger-span{
      //background: #0627B0;

      &:nth-child(1) {
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 25px;
        left: 8px;
      }
    }
  }
}
