@import "src/styles/mixins";
@import "src/styles/vars";

.languages__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 155px;
}

.languages__item {
  margin-right: 30px;

  @include pragmatica (18px, 22px, #0627b0);
  cursor: pointer;

  @media (min-width: 950px) {
    @include pragmatica (18px, 32px, #ffffff);
  }

  &--blue {
    color: #0627b0;
  }

  &:hover {
    color: $hb;
  }

  &--current {
    color: #2789ff;
  }

}

.languages__item:nth-child(3){
  margin-right: 0;
}

.navigation__sociallist--mobile {
  display: flex;
  flex-direction: row-reverse;

  margin-top: 15px;
  align-self: center;
  
  @media (min-width: 950px) {
    display: none;
  }
}