@import "src/styles/mixins";
@import "src/styles/vars";

.overlay {
  background-color: rgba(240,240,240, 0.85);  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  justify-content: center;
  align-items: center;

  &__content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}
